/* general */
:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent-color: #2196f3;
  --primary-color-white: #ffffff;
  --additional-color-text: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-color-bg: #f5f4fa;
  --accent-color-hover: #188ce8;
  --dark-color-bg: #2f303a;
  --light-color-bg: #c4c4c4;
  --first-border-color: #ececec;
  --second-border-color: #eeeeee;
  --team-icon-color: #afb1b8;
  --clients-icon-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --footer-form-bg: rgba(255, 255, 255, 0.3);
  --areas-color-bg: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --backdrop-border-close: rgba(0, 0, 0, 0.1);
  --overlay-bg-hover: rgba(33, 150, 243, 0.9);
  --main-form-border: rgba(33, 33, 33, 0.2);
  --form-placeholder-color:rgba(117, 117, 117, 0.5);
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-color-text);
  background-color: var(--primary-color-white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color-text);
}
.section--bg-grey{
  background-color: var(--primary-color-bg);
}
.section--bottom{
  padding-top: 0;
}
/* logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color);
}
.logo__part {
  color: var(--accent-color);
}

/* button */
.button {
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-hover);
}

.button__text {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-color-white);
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-color-white);
}
/* header */
.header {
  border-bottom: 1px solid var(--first-border-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  margin-left: 93px;
}
.header__item + .header__item {
  margin-left: 50px;
}
.header__page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__page--active {
  position: relative;
  color: var(--accent-color);
}
.header__page--active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header__page:hover,
.header__page:focus {
  color: var(--accent-color);
}
.header__contact {
  display: flex;
  margin-left: auto;
}
.header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link + .header__link {
  margin-left: 50px;
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.header__icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: var(--accent-color);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-color-bg);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__side{
  display: flex;
  align-items: baseline;
}
.footer__side--end{
  width: calc(50% - 15px);
  flex-direction: column;
}
.footer__box + .footer__box{
  margin-left: 70px;
}
.footer__logo {
  margin-bottom: 20px;
  display: block;
  color: var(--primary-color-white);
}
.footer__title {
  display: block;
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;

  color: var(--primary-color-white);
}

.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__link {
  margin-bottom: 9px;
  font-style: normal;
  text-decoration: none;
  color: var(--additional-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover:not(.footer__link--address),
.footer__link:focus:not(.footer__link--address) {
  color: var(--accent-color);
}

.footer__link--address {
  color: var(--primary-color-white);
}

.footer__newsletter{
  display: flex;
  width: 100%;
}
.footer__label{
  width: calc(100% - 210px);
}
.footer__field{
  padding: 15px; 

  height: 50px;
  width: 100%;

  font: inherit;
  background-color: transparent;
  border: 1px solid var(--footer-form-bg);
  border-radius: 4px;
  color: var(--primary-color-white);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__field::placeholder{
  font-size: 16px;
  font: inherit;
  line-height: 1.25;
  color: var(--additional-color-text);
}
.footer__field:focus-within{
  border-color: var(--primary-color-white);
  outline: none;
}
.footer__button{
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 
}
/* socials */
.socials {
  display: flex;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--team-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--primary-color-white);
}

.socials__link--dark {
  background: var(--footer-social-color);
}

.socials__icon--dark {
  fill: var(--primary-color-white);
}
/* page studio */
/* hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-color-bg);
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color-white);
}
.hero__button {
  padding: 10px 32px;
}

/* feature */
.feature {
  display: flex;
}
.feature__item {
  width: calc((100% - 90px) / 4);
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}
.feature__box {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--primary-color-bg);
  border-radius: 4px;
}
.feature__icon {
  height: 70px;
  width: 70px;
}
.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color-text);
}


/* areas*/
.areas {
  display: flex;
}
.areas__item {
  position: relative;
}
.areas__item + .areas__item {
  margin-left: 30px;
}
.areas__image {
  display: block;
}
.areas__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--areas-color-bg);
}
.areas__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-color-white);
}
/* team */
.team {
  display: flex;
}
.team__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-color-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item + .team__item{
  margin-left: 30px;
}
.team__box {
  padding: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color-text);
}
.team__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* clients */
.clients {
  display: flex;
}
.clients__item {
  width: calc((100% - 150px) / 6);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  min-height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  color: var(--clients-icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--clients-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* portfolio */
.portfolio-group {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  padding: 6px 22px;
  border-color: transparent;

  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-color-text);
  background-color: var(--primary-color-bg);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-item {
  width: calc((100% - 90px) / 3);
  margin: 15px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list a {
  text-decoration: none;
}
.portfolio-list img {
  display: block;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-hover);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list a:hover .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-desc {
  position: absolute;
  top: 50%;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(-50%);
}
.portfolio-desc p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color-white);
}

.portfolio-box {
  padding: 20px 24px;
  border-left: 1px solid var(--second-border-color);
  border-right: 1px solid var(--second-border-color);
  border-bottom: 1px solid var(--second-border-color);
}
.portfolio-box h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color-text);
}
.portfolio-box p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color-text);
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility:hidden;
}
.backdrop--hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: var(--primary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close{
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid var(--backdrop-border-close);
  border-radius: 100%;

  cursor: pointer;
}
.modal__icon {
  width: 10px;
  height: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__icon, 
.modal__close:focus .modal__icon{
  fill: var(--accent-color);
}

.modal__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center; 
  color: var(--secondary-color-text);
  margin-bottom: 12px;
}
.modal__row {
  margin-bottom: 10px;
}

.modal__row:nth-last-child(-n + 2) {
  margin-bottom: 20px;
}

.modal__box {
  display: flex;
  justify-content: center;
}

.modal__button {
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* field-group */
.field-group{
  display: flex;
  flex-direction: column;
}
.field-group__label{
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-color-text);
}
.field-group__box{
  position: relative;
}
.field-group__input{
  width: 100%;
  height: 40px;

  padding: 12px 12px 12px 38px;

  font: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-group__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  height: 18px;
  width: 18px;

  fill: #212121;
  
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__input:focus + .field-group__icon{
  fill:var(--accent-color);
}
.field-group__comment {
  width: 100%;

  padding: 12px 16px;

  border: 1px solid var(--main-form-border);
  border-radius: 4px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__comment::placeholder{
  line-height: 1.14;
  letter-spacing: 0.01em;
  font: inherit;

  color: var(--form-placeholder-color);
}
.field-group__input:focus, 
.field-group__comment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
/* checkbox */
.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon{
  display: inline-block;
  margin-right: 9px;
  
  width: 16px;
  height: 16px;

  border: 2px solid var(--secondary-color-text);
  border-radius: 2px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon{
  background-origin: border-box;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: transparent;
}
.checkbox__input:focus-visible +.checkbox__icon {
  border-color: var(--accent-color);
}
.checkbox__link{
  position: relative;
  text-decoration-line: none;
  
  color: var(--accent-color);
}
.checkbox__link:after {
  content:'';
  position: absolute;
  bottom: 1px;
  left: 0;

  height: 1px;
  width: 100%;
  
  background-color: var(--accent-color);
}

